<div class="card" style="width: 18rem;" *ngIf="(user$ | async) as user">
  <img class="card-img-top" [src]="user.avatar" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
  </div>
</div>
