<div class="mat-elevation-z4">
  <table mat-table [dataSource]="users">

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar</th>
      <td mat-cell *matCellDef="let row">
        <img 
        [src]="row.avatar" 
        class="avatar" 
        alt="Card image cap"> 
      </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let row"><a routerLink="/users/detail/{{row.id}}">{{row.first_name}} </a></td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Sobrenome  </th>
      <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
    </ng-container>

    <!-- E-mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email  </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Acões </th>
      <td mat-cell *matCellDef="let row"> 
        <a routerLink="/users/update/{{row.id}}" class="edit">
          <i class="material-icons">edit</i>
        </a>  
        <a routerLink="/users/delete/{{row.id}}" class="delete">
          <i class="material-icons">delete</i>
        </a>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li 
      class="page-item" 
      [class.disabled]="currentPage === 1">
      <button 
        class="page-link" 
        (click)="getUsersFor(currentPage - 1)" 
        [disabled]="currentPage === 1">
        Previous
      </button>
    </li>
    <li 
      *ngFor="let pageNumber of pageNumbers" 
      class="page-item" 
      [class.active]="currentPage === pageNumber">
      <button 
        class="page-link" 
        (click)="getUsersFor(pageNumber)" >
        {{ pageNumber }}
      </button>
    </li>
    <li 
      class="page-item" 
      [class.disabled]="currentPage === totalPages">
      <button 
        class="page-link" 
        (click)="getUsersFor(currentPage + 1)"
        [disabled]="currentPage === totalPages">
        Next
      </button>
    </li>
  </ul>
</nav>
