table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}
.avatar{
    width: 65px;
    height: 65px;
}
.pagination{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item:first-child button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.page-item:last-child button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.page-item button{
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    color: #256077;
    outline: none;
    background: #fff;
}
.page-item button:hover{
    background: #eee;
}
.page-item.disabled button{
    color: #aaa !important;
    cursor: initial;
}
.page-item.disabled button:hover{
    background: #fff;
}
.page-item.active button{
    background: #256077;
    color: #fff !important;
    border: 1px solid #256077;
}