.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}
.red{
    color: #e35e6b;
    position: relative;
    top: 5px;
}