<mat-card>
  <mat-card-title>Excluir Usuário</mat-card-title>

  <form>
    <mat-form-field>
      <input matInput placeholder="E-mail" 
            [value]="user.email" name="email" disabled>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Nome" 
            [value]="user.first_name" name="firstname" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sobrenome" 
            [value]="user.last_name" name="lastname" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="avatar" 
            [value]="user.avatar" name="avatar" disabled>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deleteUser()" color="primary">
    Excluir
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>

