<mat-card>
  <mat-card-title>Alterar Usuário</mat-card-title>

  <form>
    <mat-form-field>
      <input matInput placeholder="E-mail" 
            [(ngModel)]="user.email" name="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nome" 
            [(ngModel)]="user.first_name" name="firstname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sobrenome" 
            [(ngModel)]="user.last_name" name="lastname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="avatar" 
            [(ngModel)]="user.avatar" name="avatar">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="updateUser()" color="primary">
    Atualizar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
